.cart-container {
  padding: 40px;
  background: #f8f8fc;
  min-height: 100vh;
}

.cart-container h2 {
  margin-bottom: 30px;
}

.empty-cart {
  text-align: center;
  margin-top: 100px;
}

.cart-item {
  display: flex;
  gap: 20px;
  align-items: center;
  background: white;
  margin-bottom: 25px;
  padding: 20px;
  border-radius: 18px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.05);
}

.cart-item img {
  width: 140px;
  height: 140px;
  object-fit: contain;
}

.cart-details {
  flex: 1;
}

.qty-box {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 15px 0;
}

.qty-box button {
  width: 35px;
  height: 35px;
  border: none;
  background: #7c3aed;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.remove-btn {
  border: none;
  padding: 12px 18px;
  background: crimson;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.cart-summary {
  margin-top: 40px;
  text-align: right;
}

.checkout-btn {
  margin-top: 20px;
  border: none;
  padding: 16px 28px;
  background: #7c3aed;
  color: white;
  border-radius: 12px;
  cursor: pointer;
  font-size: 16px;
}