.cart {
  max-width: 1000px;
  margin: 2rem auto;
  padding: 0 20px;
  min-height: 60px;
  /* background: linear-gradient(to right, purple,violet );  */
  border-radius: 5px;
  color: white;
  background: linear-gradient(to right, rgb(53, 2, 53),rgb(139, 113, 139) );
}
.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  gap: 20px;
  padding: 15px;
  border-bottom: 1px solid #eee;
  background:  #fff0f0;
  margin-bottom: 10px;
  border-radius: 8px;
}

.cart-item img {
  width: 80px;  
  height: 80px;
  object-fit: cover;
  border-radius: 4px;
}

.cart-item div {
  flex: 1;
}

.cart-item h3 {
  margin: 0;
  font-size: 1.1rem;
  text-transform: uppercase;
  color: black;
}
.cart-item p {
  margin: 0;
  font-size: 1.1rem;
  text-transform: uppercase;
  color: black;
}
.cart-item button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s;
}

.cart-item button:hover {
  background-color: #cc0000;
}
.paymentbtn {
  border-radius: 5px;
  margin-bottom: 15px;
  cursor: pointer;

}