.product-page {
  padding: 40px;
  background: #f8f8fc;
  min-height: 100vh;
}

.product-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.product-header h1 {
  font-size: 38px;
  color: #222;
}

.search-input {
  width: 300px;
  padding: 14px;
  border-radius: 10px;
  border: 1px solid #ddd;
  outline: none;
}

.products-grid {
  display: grid;
  grid-template-columns:
    repeat(auto-fit, minmax(260px, 1fr));
  gap: 30px;
}

.product-card {
  background: white;
  border-radius: 20px;
  padding: 20px;
  transition: 0.3s;
  box-shadow: 0 5px 25px rgba(0,0,0,0.05);
}

.product-card:hover {
  transform: translateY(-6px);
}

.product-card img {
  width: 100%;
  height: 250px;
  object-fit: contain;
}

.product-card h3 {
  margin-top: 15px;
  color: #222;
}

.description {
  color: #666;
  margin: 10px 0;
}

.product-card h2 {
  color: #7c3aed;
  margin-bottom: 15px;
}

.cart-btn {
  width: 100%;
  border: none;
  padding: 14px;
  background: #7c3aed;
  color: white;
  border-radius: 12px;
  cursor: pointer;
  font-size: 16px;
}
/* CATEGORIES */

.categories-bar {
  display: flex;
  gap: 15px;
  margin-bottom: 40px;
  overflow-x: auto;
  padding-bottom: 10px;
}

.category-btn {
  border: none;
  padding: 12px 24px;
  border-radius: 30px;
  background: white;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 600;
  white-space: nowrap;
  box-shadow: 0 3px 10px rgba(0,0,0,0.05);
}

.category-btn:hover {
  background: #7c3aed;
  color: white;
}

.active-category {
  background: #7c3aed;
  color: white;
}

/* PRODUCT INFO */

.product-info {
  margin-top: 20px;
}

.product-category {
  background: #ede9fe;
  color: #7c3aed;
  padding: 6px 14px;
  border-radius: 30px;
  font-size: 13px;
  font-weight: 600;
}